/* default styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff7d03;
  border-radius: 5px;
  box-shadow: -4px 0 10px #ff7d03;
}
*::-webkit-scrollbar-track {
  width: 2px;
  background-color: transparent;
}
/* container styles */
.container {
  height: 500px;
  background-color: #f1f1f1;
  border: 1px solid #ff7d03;
  box-shadow: inset 0 0 10px #ff7d03;
  overflow-x: hidden;
  overflow-y: overlay;
}
/* input form styles */
#searchForm {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px;
  height: 249px;
}

#queryLabel {
  font-size: 20px;
  font-weight: bold;
  color: rgb(83, 83, 83);
}
#query {
  width: 250px;
  height: 50px;
  border: none;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  font-weight: light;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #ff7d03;
}
#query:placeholder-shown {
  letter-spacing: 2px;
}
#query:focus {
  box-shadow: 0 0 5px #ff7d03;
}
#searchBtn {
  display: block;
  width: 100%;
  height: 30px;
  background-color: rgb(240, 115, 13);
  border: none;
  cursor: pointer;
  padding: 5px 0;
  color: rgb(51, 50, 50);
  font-weight: bold;
  font-size: 14px;
}
#searchBtn:hover {
  background-color: rgb(255, 125, 13);
}
#result {
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(83, 83, 83);
}

/* Results styles */
#response {
  height: 249px;
  border-top: 1px solid rgba(83, 83, 83, 0.5);
  box-shadow: inset 0px 7px 3px -3px rgba(83, 83, 83, 0.5);
  overflow-y: overlay;
}
#placeHolder {
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: rgb(83, 83, 83);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qLink {
  text-decoration: none;
  color: rgb(83, 83, 83);
  font-size: 14px;
  font-weight: bold;
  display: block;
  border-top: 1px solid rgb(83, 83, 83);
  padding: 20px;
  padding-left: 10px;
  border-left: 10px solid transparent;
  margin: 0;
  cursor: pointer;
  text-align: left;
  word-break: break-word;
  transform: translateY(200px);
  opacity: 0;
  animation: slide-in 500ms ease-in forwards;
  animation-delay: calc(200ms * var(--i));
}
.qLink:first-child {
  border-top: none;
}
.qLink:hover {
  color: rgb(51, 50, 50);
  border-left-color: rgb(240, 115, 13);
}

@keyframes slide-in {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.qPar {
  padding-bottom: 5px;
}
.info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(83, 83, 83);
  padding-top: 5px;
  margin: 0;
  text-align: left;
  font-size: 11px;
  font-weight: light;
  color: rgb(83, 83, 83);
  cursor: pointer;
  word-break: break-all;
}
.answered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signImg {
  width: 11px;
  height: 11px;
  margin-left: 3px;
}
